/*======Base Layout=======*/
*{
    box-sizing: border-box;
}

body {
    margin-bottom: 30px;
    margin-top: 40px;
}

/*=======Search Box======*/
.search-bar {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
}

/*======Input Layout=====*/
input[type="text"]{
    background-color: white;
    color: black;
    width: 400px;
    padding: 10px;
    border: solid .5px gray;
    border-radius: 10px;
}

input[type="text"]::placeholder {
    padding-left:10px;
    font-style: italic;
}

/*=====Base Photo Gallery Layout=====*/
.photo-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
   
.photo-gallery img {
    padding: 20px;
}


/*===LightBox Photos===*/




/*====Media Queries ====*/
@media (min-width: 320px){

input[type="text"]{
    width:auto; /*width of search box*/
}

}
@media(min-width: 768px) {

input[type="text"] {
    width:300px; /*width of search box*/
}  
}

@media(min-width: 1024px){
input[type="text"] {
    width:400px; /*width of search box*/
}

}